@media (min-width: 200px) and (max-width: 371px){
    .main .container .left h1{
        font-size: 25px;
        width: 165px;
        margin-top: 64px ;
        height: 124px;
    }
    .main .container .left p{
        font-size: 9px;
        width: 154px;
        margin: 5px 0 12px 0 ;
    }
    .main .container .left .feedback-btn{
        width: 129px;
        height: 30px;
        border-radius: 4px;
        font-size: 8px;
        margin: 0 0 25px 0;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 220px;
        height: 221px;
        margin-top: 38px;
        margin-left: -20px;
        
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
        margin-top: 0px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 12px;
    }
    footer{
        margin-top: 280px;
        margin-bottom: 80px;

        font-size: 12px;
    }
    

   
    .footer-link{
        font-size: 12px;
    }
    .blur3{
        position: absolute;
        box-shadow: 0px 180px 500px 100px #662981;
        z-index: -100;
    }
    .vector{
        
        margin-top: -290px;
        margin-right: -300px!important;
        margin-left: 90px;
        width: 242px;
        height: 312px;
    }
    body{ 
        height: 1250px;
        padding: 0 15px;
    }
    .feature-stick{
        display: block;
        position: absolute;
        width: 3px;
        height: 396px;
        background-color: #662981;
        margin-left: 18px;
        z-index: -1;
    }
}
@media (min-width: 374px) and (max-width: 423px){
    .main .container .left h1{
        font-size: 25px;
        width: 165px;
        margin-top: 64px ;
        height: 124px;
    }
    .main .container .left p{
        font-size: 9px;
        width: 154px;
        margin: 5px 0 12px 0 ;
    }
    .main .container .left .feedback-btn{
        width: 129px;
        height: 30px;
        border-radius: 4px;
        font-size: 8px;
        margin: 0 0 25px 0;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 220px;
        height: 221px;
        margin-top: 38px;
        margin-left: -10px;
        
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
        margin-top: 0px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 12px;
        
        width: 300px;
    }
    footer{
        margin-top: 280px;
        margin-bottom: 80px;

        font-size: 12px;
    }
    

   
    .footer-link{
        font-size: 12px;
    }
    .blur3{
        position: absolute;
        box-shadow: 0px 180px 500px 100px #662981;
        z-index: -100;
    }
    .vector{
        margin-top: -310px;
        margin-right: -300px!important;
        margin-left: 130px;
        width: 262px;
        height: 322px;
    }
    body{ 
        height: 1250px;
        padding: 0 15px;
    }
    .feature-stick{
        display: block;
        position: absolute;
        width: 3px;
        height: 386px;
        background-color: #662981;
        margin-left: 18px;
        z-index: -1;
    }
}
@media (min-width: 424px) and (max-width: 520px){
    .main .container .left h1{
        font-size: 25px;
        width: 165px;
        margin-top: 64px ;
        height: 124px;
    }
    .main .container .left p{
        font-size: 9px;
        width: 164px;
        margin: 5px 0 12px 0 ;
    }
    .main .container .left .feedback-btn{
        width: 129px;
        height: 30px;
        border-radius: 4px;
        font-size: 8px;
        margin: 0 0 25px 0;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 220px;
        height: 221px;
        margin-top: 38px;
        margin-left: -160px;
        
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
        margin-top: 0px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 12px;
        width: 300px;
    }
    footer{
        margin-top: 280px;
        margin-bottom: 80px;

        font-size: 12px;
    }
    

   
    .footer-link{
        font-size: 12px;
    }
    .blur3{
        position: absolute;
        box-shadow: 0px 180px 500px 100px #662981;
        z-index: -100;
    }
    .vector{
        margin-top: -330px;
        margin-right: -300px!important;
        margin-left: 140px;
        width: 292px;
        height: 362px;
    }
    body{
        height: 1250px;
        padding: 0 15px;
    }
    .feature-stick{
        display: block;
        position: absolute;
        width: 3px;
        height: 386px;
        background-color: #662981;
        margin-left: 18px;
        z-index: -1;
    }
}
@media (min-width: 521px) and (max-width: 620px){
    .main .container .left h1{
        font-size: 32px;
        width: 211px;
        margin-top: 64px ;
        height: 144px;
    }
    .main .container .left p{
        font-size: 12px;
        width: 184px;
        margin: 10px 0 15px 0 ;
    }
    .main .container .left .feedback-btn{
        width: 149px;
        height: 35px;
        border-radius: 4px;
        font-size: 8px;
        margin: 0 0 25px 0;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 270px;
        height: 271px;
        margin-top: 38px;
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
        margin-top: 0px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 14px;
    }
    footer{
        margin-top: 380px;
        margin-bottom: 20px;

        font-size: 6px;
    }
   
    .footer-link{
        font-size: 6px;
    }
    .blur3{
        position: absolute;
        box-shadow: 0px 180px 500px 100px #662981;
        z-index: -100;
    }
    .vector{
        margin-top: -330px;
        margin-right: -300px!important;
        margin-left: 220px;
        width: 362px;
        height: 362px;
    }
   
    .feature-stick{
        display: block;
        position: absolute;
        width: 3px;
        height: 366px;
        background-color: #662981;
        margin-left: 17px;
        z-index: -1;
    }
}
@media (min-width: 621px) and (max-width: 820px){
    .main .container .left h1{
        font-size: 52px;
        width: 350px;
        margin-top: 64px ;
        height: 250px;
    }
    .main .container .left p{
        font-size: 14px;
        width: 184px;
        margin: 25px 0 20px 0 ;
    }
    .main .container .left .feedback-btn{
        width: 159px;
        height: 40px;
        border-radius: 4px;
        font-size: 9px;
        margin: 0 0 25px 0;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 350px;
        height: 351px;
        margin-top: 38px;
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
        margin-top: 0px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 14px;
    }
    footer{
        margin-top: 380px;
        margin-bottom: 20px;

        font-size: 6px;
    }
    
    .footer-link{
        font-size: 6px;
    }
    .blur3{
        position: absolute;
        box-shadow: -120px 200px 500px 100px #662981;
        z-index: -100;
    }
    .vector{
        margin-top: -400px;
        margin-right: -300px!important;
        margin-left: 400px;
        width: 362px;
        height: 362px;
    }
   
    .feature-stick{
        display: block;
        position: absolute;
        width: 3px;
        height: 366px;
        background-color: #662981;
        margin-left: 17px;
        z-index: -1;
    }
}
@media (min-width: 1020px) and (max-width: 1350px){
    .main .container .left h1{
        font-size: 62px;
        width: 408px;
    }
    .main .container .left p{
        font-size: 12px;
        width: 350px;
    }
    .main .container .left .feedback-btn{
        width: 175px;
        height: 31px;
        border-radius: 5px;
        font-size: 10px;
        box-shadow: 0 0 5px  #fff;
    }
    .main .container .right .img{
        width: 500px;
        height: 450px;
    }
    .features .container .feature-box{
        width: 450px;
    }
    .features .container .feature-box img{
        width: 40px;
    }
    .features .container .feature-box .box-data .box-title{
        font-size: 14px;
    }
    .features .container .feature-box .box-data .box-description{
        font-size: 14px;
    }
    footer{
        margin-top: 380px;
        margin-bottom: 20px;
    }
   
    .footer-link{
        font-size: 12px;
    }
    .blur3{
        position: absolute;
        box-shadow: 150px 780px 2500px 230px #662981;
        z-index: -100;
    }
    .vector{
        margin-top: -400px;
        margin-right: -300px!important;
        margin-left: 430px;
        overflow-y: hidden;
    }
    body{
        height: 1250px;
        padding: 0;
    }
}